# macOS system files
.DS_Store

# from livingpark-utils
.ppmi_config
.cache

# log files
*.log

# DBM-ICA output files
out*

# container images
*.sif
*.simg

# old/unused code/notes
ignore

# MRI files
*.nii
*.mnc
*.xfm

# subject ID lists
zeighami-etal-2019-cohort-*.csv
